@page "/"
@inject WeatherForecastService ForecastService
@inject DatabaseService DbService

<div class="container-fluid min-vh-100 d-flex flex-column">
    <PageHeader></PageHeader>

    @*<p>This component demonstrates fetching data from a service.</p>*@

    @*<InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => GetData()">
            <ul>
                @foreach (var house in Houses)
                {
                    <li class="list-group-item">@house.Index: @house.Title - @house.FullAddress (@house.Price)</li>
                }

                The target element that we observe. Once this is reached the callback will be triggered.
                <li class="list-group-item" hidden id="observerTarget"></li>
            </ul>
        </InfiniteScroll>*@

    <div class="row flex-grow-1">
        <div class="col-md-5 homepage-map">
            @*<div class="leftpagebg d-flex justify-content-center align-items-center">

                </div>*@
            @*<div class="leftpagebg"></div>*@
            <img class="img-homepage-map" src="https://investorlift.com/_nuxt/img/static_map.945f231.jpeg" />
        </div>
        <div class="col-md-7 right">
            <div class="rightpagefilter row">
                <div class="col-md-6">
                    <div class="styleState">
                        <label>States</label>
                        <select onchange="@OnStateChanged">
                            <option value="">All states</option>
                            @foreach (var item in States)
                            {
                                <option value="@item.AlphaCode">@item.StateName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="name">Search by title</label>
                    <div class="rightpagefilterinput">
                        <InputText id="contentfilter" placeholder="Enter title for search" Value="@filterObject.content" ValueChanged="ContentChanged" ValueExpression="() => filterObject.content" />
                        @*<button @onclick="Filter">Search</button>*@
                    </div>
                </div>
            </div>
            @if (Houses == null)
            {
                <div class="col-md-12">
                    <div class="contentloading">
                        <div class="lds-spinner"></div>
                    </div>
                </div>
            }
            else if (Houses != null && Houses.Count == 0)
            {
                <div class="col-md-12">
                    <div class="contentloading">
                        <label>Not found</label>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="row itemview">
                        <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => GetData()">
                            @foreach (var house in Houses)
                            {
                                <a class="col-md-6 listitem d-flex justify-content-center align-items-center" href="/property/@house.Id">
                                    <img class="imgItem" src="@house.ImageLink" />
                                    <div class="itemText">
                                        <div>
                                            <div class="itemTextRow">@house.County</div>
                                            <div class="itemTextRow">@house.LineAddress</div>
                                            <ul>
                                                <li>
                                                    Area
                                                    <span>@house.SqFootage</span>
                                                </li>
                                                <li>
                                                    Beds
                                                    <span>@house.BedRooms</span>
                                                </li>
                                                <li>
                                                    Baths
                                                    <span>@house.BathRooms</span>
                                                </li>
                                                <li>
                                                    ARV
                                                    <span>@house.ARV</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            }
                            <div class="listitemrow" id="observerTarget"></div>
                        </InfiniteScroll>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
@*<button @onclick="ReloadData">Reload</button>*@

@code {
    private House house;
    private List<House> Houses = null;
    private List<House> DataSource = new List<House>();
    private List<House> DataFilter = null;
    private List<State> States = new List<State>();
    private FilterObject filterObject = new FilterObject();
    private CancellationTokenSource tokenSource = null;

    bool IsFilterCompleted = false;
    private void ContentChanged(string value)
    {
        filterObject.content = value;
        filterObject.content = value.ToLower();
        Filter();
    }

    private void OnStateChanged(ChangeEventArgs e)
    {
        filterObject.state = e.Value.ToString().Trim();
        Filter();
    }

    private void Filter()
    {
        IsFilterCompleted = true;
        Houses = null;
        DataFilter = null;

        StateHasChanged();

        if (DataSource != null)
        {
            DataFilter = DataSource
                        .Where(x =>
                            (
                                string.IsNullOrEmpty(filterObject.content) ||
                                (
                                    !string.IsNullOrEmpty(filterObject.content) &&
                                    (
                                        x.Title.ToLower().Contains(filterObject.content)
                                        || x.County.ToLower().Contains(filterObject.content)
                                    )
                                )
                            ) &&
                            (
                                string.IsNullOrEmpty(filterObject.state) ||
                                (
                                    !string.IsNullOrEmpty(filterObject.state) &&
                                    x.States.ToLower() == filterObject.state.Trim().ToLower()
                                )
                            )
                        ).ToList();

            Houses = new List<House>();
            Houses.AddRange(DataFilter.Take(10).ToArray());

            StateHasChanged();
        }
        IsFilterCompleted = false;
    }

    private void GetData()
    {
        if (DataSource == null)
            return;

        if (!IsFilterCompleted)
        {
            if (DataFilter == null ||
                    (DataFilter != null &&
                     DataFilter.Count == DataSource.Count)
            )
                Houses.AddRange(DataSource.Skip(Houses.Count).Take(10).ToArray());
            else
                Houses.AddRange(DataFilter.Skip(Houses.Count).Take(10).ToArray());
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (tokenSource != null)
            tokenSource.Cancel();

        tokenSource = new CancellationTokenSource();

        if (house == null)
            house = new House(DbService);
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //var timer = new Timer(new TimerCallback(_ =>
            //{
            //    uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
            //}), null, 2000, 2000);

            States = await house.GetStates();

            DataSource = await house.GetAll(tokenSource.Token);

            if (DataSource != null)
            {
                Houses = new List<House>();
                Houses.AddRange(DataSource.Take(10).ToArray());

                StateHasChanged();
            }
        }
    }
}

